

<div class="row d-flex justify-content-center">
  <div class="Rows ">
        <img src="~/ticket/111.jpg" class="themes" alt="">
  </div>
 <div class="container">
    <div class="col-md-2">
        <div class="AdminNav">
            <ul class="nav flex-column">
                <li class="nav item AdminNavLi">
                    <a asp-controller="Admin" asp-action="EventList" class="nav-link  mx-auto" style="color: turquoise;">Etkinlikler</a>
                </li>
                <li class="nav item AdminNavLi ">
                    <a asp-controller="Admin" asp-action="Artist" class="nav-link  mx-auto" style="color: turquoise;">Artistler</a>
                </li>
                <li class="nav item AdminNavLi">
                    <a asp-controller="Admin" asp-action="Venue" class="nav-link  mx-auto" style="color: turquoise;">Mekanlar</a>
                </li>
                 <li class="nav item AdminNavLi">
                    <a href="" class="nav-link  mx-auto"  style="color: turquoise;">Yaklaşan Etkinlikler</a>
                </li>
            </ul>
        </div>
    </div>
 </div>
</div>